{% extends "layout.html" %}

{% block title %}Muir Dining Hall{% endblock %}

{% block content %}
    <h1>Pines - Muir College</h1>
<h3> Please note that due to rendering times and because this website is free, heroku has a 30 sec timeout</h3>    <br>
    <form action="/result_Pines">
        Specify Breakfast, Lunch, or Dinner: 
        <br>
        <br>
        <input type="submit" name="meal" value="Breakfast">
        <input type="submit" name="meal" value="Lunch">
        <input type="submit" name="meal" value="Dinner">  
    </form>
	<br>
    <img src="{{ Dininghalls }}" alt= "Enjoy Your Meal">

{% endblock %}
