absl-py==0.4.1
astor==0.7.1
awscli==1.14.66
beautifulsoup4==4.6.3
botocore==1.9.19
certifi==2018.8.24
chardet==3.0.4
click==6.7
colorama==0.3.7
cycler==0.10.0
Cython==0.26.1
docutils==0.14
fenics==2017.2.0
fenics-dijitso==2017.2.0
fenics-ffc==2017.2.0
fenics-fiat==2017.2.0
fenics-instant==2017.2.0
fenics-ufl==2017.2.0
Flask==1.0.2
gast==0.2.0
grpcio==1.14.1
gunicorn==19.9.0
h5py==2.8.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.0.2
mpmath==1.0.0
nltk==3.3
numpy==1.14.5
opencv-python==3.4.2.17
pandas==0.23.3
pexpect==4.2.1
Pillow==5.2.0
ptyprocess==0.5.2
pyasn1==0.4.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==0.19.1
six==1.11.0
sklearn==0.0
soup==0.1.0
sympy==1.1.1
tensorboard==1.10.0
tensorflow==2.9.3
termcolor==1.1.0
twitter==1.18.0
urllib3==1.23
Werkzeug==0.14.1
