* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: lightblue;
  color: black;
  text-align: center;
  clear: both;
}

.container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 50px;
}

#footer {
  background-color:#FFCD00;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

.mystyle {
  font-size: 11pt; 
  font-family: Arial;
  border-collapse: collapse; 
  border: 1px solid silver;
}

table {
  color: #333; /* lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 640px;
  border-collapse:
  collapse; border-spacing= 0;
  margin-right: auto;
  margin-left: auto;
}

td, th {border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */
th {
    font-weight: bold;
}
td {
    background:#FAFAFA
    text-align: center;
}
tr {
    color: black;
}
.navbar-expand-lg {
  background-color: #FFCD00;
}
